{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-destructuring",
            {
                "loose": true
            }
        ],
        [
            "@babel/plugin-transform-for-of",
            {
                "loose": true
            }
        ],
        [
            "@babel/plugin-transform-spread",
            {
                "loose": true
            }
        ]
    ]
}
